version: "3"
services:
  jekyll:
    image: amirpourmand/al-folio
    container_name: al-folio-website
    command: bash -c "
      rm -f Gemfile.lock
      && bundle install
      && bundle exec jekyll serve \
        --watch \
        --force_polling \
        --port=10086 \
        --host=0.0.0.0 \
        --livereload \
        --livereload-port 35729 \
        --verbose \
        --trace"
    ports:
      - 10086:10086
      - 35729:35729
    volumes:
      - .:/srv/jekyll
