/******************************************************************************
 * Content
 ******************************************************************************/

@use "variables" as *;

// Prevent layout shift when scrollbar appears/disappears
html {
  overflow-y: scroll;
}

body {
  padding-bottom: 50px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  font-size: $font-size-base;
  line-height: 1.75;

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 60px;
  }
}

// Page transition animation for smoother navigation
@keyframes fadeIn {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.container.mt-5 {
  animation: fadeIn 0.15s ease-out;
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 50px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: var(--max-content-width);
  padding-left: 1rem;
  padding-right: 1rem;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
