/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 50px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  font-size: 0.95rem;
  line-height: 1.6;

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 60px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 50px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
  padding-left: 1rem;
  padding-right: 1rem;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
