<ul class="card-text list-group list-group-flush">
    {% for content in entry.contents %}
      <li class="list-group-item">
      {% if content.title %}
        <h5 class="font-italic">{{ content.title }}</h5>
      {% endif %}
      {% if content.items %}
        {% if content.items.first %}
          <ul class="subitems">
            {% for subitem in content.items %}
              <li><span class="subitem">{{ subitem }}</span></li>
            {% endfor %}
          </ul>
        {% else %}
          <span class="nested-content">{{ content.items }}</span>
        {% endif %}
      {% endif %}
      </li>
    {% endfor %}
</ul>
