---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@use "variables";
@use "mixins";
@use "themes";
@use "layout";
@use "base";
@use "toc";
@use "blog_enhancements";
@use "pseudocode";
@use "distill";

// Dimensions
:root {
  --max-content-width: {{ site.max_width }};
}
