---
layout: default
---

<div class="post">
  {% capture _archive_tag_title %}<i class="fas fa-hashtag fa-sm"></i> {{ page.title }}{% endcapture %}
  {% include page_header.html title_html=_archive_tag_title description="an archive of posts with this tag" %}

  <article>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% for post in page.posts %}
        <tr>
          <th scope="row">{{ post.date | date: "%b %-d, %Y" }}</th>
          <td>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </article>

</div>
